In [12]:
import pandas as pd
import numpy as np

In [13]:
data=np.random.randint(0,100,[1000,50])

In [14]:
data

array([[74,  9, 15, ..., 26, 41, 61],
       [22, 14, 76, ...,  3, 75, 47],
       [29, 66, 30, ..., 70, 44, 66],
       ...,
       [32, 68, 70, ...,  3, 34, 22],
       [69, 68, 17, ..., 83, 31, 58],
       [35, 23, 28, ..., 48, 37, 28]])

In [16]:
df=pd.DataFrame(data)

In [17]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,74,9,15,70,1,32,69,74,37,35,...,73,55,21,67,16,53,96,26,41,61
1,22,14,76,23,92,59,94,21,67,19,...,18,75,86,60,33,59,8,3,75,47
2,29,66,30,55,9,89,37,85,18,1,...,97,44,95,22,3,59,99,70,44,66
3,10,77,78,54,17,56,41,33,45,0,...,99,6,42,94,60,68,76,82,95,3
4,91,82,67,90,63,12,15,80,89,84,...,83,21,53,53,70,96,76,83,2,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,40,89,22,34,61,92,0,85,49,92,...,53,62,66,39,28,83,87,89,3,97
996,4,96,19,54,86,49,58,19,9,41,...,89,58,49,54,96,55,61,7,68,57
997,32,68,70,56,33,29,24,55,0,32,...,71,72,95,32,13,87,10,3,34,22
998,69,68,17,67,64,89,83,96,3,6,...,90,65,60,55,11,49,42,83,31,58
999,35,23,28,89,11,26,62,83,53,94,...,67,53,20,88,97,88,78,48,37,28

In [19]:
pd.options.display.max_rows=18
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,74,9,15,70,1,32,69,74,37,35,...,73,55,21,67,16,53,96,26,41,61
1,22,14,76,23,92,59,94,21,67,19,...,18,75,86,60,33,59,8,3,75,47
2,29,66,30,55,9,89,37,85,18,1,...,97,44,95,22,3,59,99,70,44,66
3,10,77,78,54,17,56,41,33,45,0,...,99,6,42,94,60,68,76,82,95,3
4,91,82,67,90,63,12,15,80,89,84,...,83,21,53,53,70,96,76,83,2,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,40,89,22,34,61,92,0,85,49,92,...,53,62,66,39,28,83,87,89,3,97
996,4,96,19,54,86,49,58,19,9,41,...,89,58,49,54,96,55,61,7,68,57
997,32,68,70,56,33,29,24,55,0,32,...,71,72,95,32,13,87,10,3,34,22
998,69,68,17,67,64,89,83,96,3,6,...,90,65,60,55,11,49,42,83,31,58
999,35,23,28,89,11,26,62,83,53,94,...,67,53,20,88,97,88,78,48,37,28

In [10]:
data

array([[90, 13, 32, ..., 63, 14,  0],
       [ 8, 88, 29, ..., 89,  4, 13],
       [14, 38, 80, ..., 31, 15, 96],
       ...,
       [15, 94, 22, ..., 58, 69, 90],
       [62,  2, 95, ..., 21, 98, 68],
       [19, 26, 34, ..., 29, 69, 58]])

In [20]:
import pandas as pd
import numpy as np

In [21]:
data=np.random.randint(0,100,[1000,50])

In [22]:
df=pd.DataFrame(data)

In [23]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,45,96,25,98,47,45,66,61,54,26,...,49,48,0,92,44,14,91,68,14,62
1,75,7,21,14,68,74,62,97,86,27,...,95,64,54,28,43,33,17,61,28,63
2,86,78,43,87,34,14,76,50,21,18,...,81,63,99,16,71,70,31,30,94,47
3,39,31,76,37,89,6,71,17,7,19,...,40,83,32,69,99,52,8,49,83,73
4,15,36,98,59,43,46,53,83,90,62,...,96,64,36,23,22,68,41,8,48,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,99,90,51,23,62,63,7,87,93,6,...,61,36,1,30,56,13,88,94,14,38
996,13,12,15,57,54,39,1,16,62,77,...,19,81,21,59,61,7,72,58,29,99
997,14,78,44,21,83,35,45,66,43,90,...,77,17,72,55,27,87,73,2,22,25
998,67,50,60,68,98,58,69,42,35,97,...,25,10,81,20,49,6,99,87,96,47
999,40,3,57,99,70,29,2,22,94,72,...,97,20,6,28,89,65,53,18,13,60

In [31]:
pd.options.display.max_rows=18

In [32]:
df

,0,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49
0,45,96,25,98,47,45,66,61,54,...,48,0,92,44,14,91,68,14,62
1,75,7,21,14,68,74,62,97,86,...,64,54,28,43,33,17,61,28,63
2,86,78,43,87,34,14,76,50,21,...,63,99,16,71,70,31,30,94,47
3,39,31,76,37,89,6,71,17,7,...,83,32,69,99,52,8,49,83,73
4,15,36,98,59,43,46,53,83,90,...,64,36,23,22,68,41,8,48,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,99,90,51,23,62,63,7,87,93,...,36,1,30,56,13,88,94,14,38
996,13,12,15,57,54,39,1,16,62,...,81,21,59,61,7,72,58,29,99
997,14,78,44,21,83,35,45,66,43,...,17,72,55,27,87,73,2,22,25
998,67,50,60,68,98,58,69,42,35,...,10,81,20,49,6,99,87,96,47
999,40,3,57,99,70,29,2,22,94,...,20,6,28,89,65,53,18,13,60

In [27]:
pd.options.display.max_columns=18

In [28]:
df

,0,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49
0,45,96,25,98,47,45,66,61,54,...,48,0,92,44,14,91,68,14,62
1,75,7,21,14,68,74,62,97,86,...,64,54,28,43,33,17,61,28,63
2,86,78,43,87,34,14,76,50,21,...,63,99,16,71,70,31,30,94,47
3,39,31,76,37,89,6,71,17,7,...,83,32,69,99,52,8,49,83,73
4,15,36,98,59,43,46,53,83,90,...,64,36,23,22,68,41,8,48,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,99,90,51,23,62,63,7,87,93,...,36,1,30,56,13,88,94,14,38
996,13,12,15,57,54,39,1,16,62,...,81,21,59,61,7,72,58,29,99
997,14,78,44,21,83,35,45,66,43,...,17,72,55,27,87,73,2,22,25
998,67,50,60,68,98,58,69,42,35,...,10,81,20,49,6,99,87,96,47
999,40,3,57,99,70,29,2,22,94,...,20,6,28,89,65,53,18,13,60

In [33]:
data=np.random.randint(0,100,[1000,50])

In [34]:
df=pd.DataFrame(data)

In [35]:
df

,0,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49
0,32,9,68,34,67,6,48,46,78,...,76,82,3,41,62,5,10,19,18
1,78,53,51,78,90,66,2,23,3,...,18,8,79,24,57,0,46,86,28
2,33,2,55,20,27,8,61,62,62,...,65,23,60,61,45,98,7,67,32
3,22,61,33,41,83,82,85,91,76,...,18,81,31,73,52,37,40,65,19
4,20,6,83,55,13,67,17,41,26,...,18,14,12,99,71,16,63,6,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,88,89,37,86,42,5,47,25,37,...,2,45,29,68,69,74,36,84,43
996,70,53,37,69,60,31,7,96,60,...,54,62,16,83,34,36,77,29,62
997,42,25,9,87,45,48,86,44,52,...,40,33,84,82,63,44,79,95,49
998,20,45,20,68,32,31,38,51,7,...,96,42,3,50,27,89,79,6,49
999,90,32,51,28,29,16,32,95,39,...,24,49,50,40,65,81,0,49,70

In [37]:
pd.get_option("max_rows")

18

In [38]:
pd.get_option("max_columns")

18

In [39]:
pd.set_option("max_rows",4)

In [40]:
df

,0,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49
0,32,9,68,34,67,6,48,46,78,...,76,82,3,41,62,5,10,19,18
1,78,53,51,78,90,66,2,23,3,...,18,8,79,24,57,0,46,86,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,20,45,20,68,32,31,38,51,7,...,96,42,3,50,27,89,79,6,49
999,90,32,51,28,29,16,32,95,39,...,24,49,50,40,65,81,0,49,70

In [41]:
pd.set_option("max_columns",4)

In [42]:
df

     0   1   ...  48  49
0    32   9  ...  19  18
1    78  53  ...  86  28
..   ..  ..  ...  ..  ..
998  20  45  ...   6  49
999  90  32  ...  49  70

[1000 rows x 50 columns]

In [43]:
pd.reset_option("max_rows")

In [44]:
df

     0   1   ...  48  49
0    32   9  ...  19  18
1    78  53  ...  86  28
2    33   2  ...  67  32
3    22  61  ...  65  19
4    20   6  ...   6  22
..   ..  ..  ...  ..  ..
995  88  89  ...  84  43
996  70  53  ...  29  62
997  42  25  ...  95  49
998  20  45  ...   6  49
999  90  32  ...  49  70

[1000 rows x 50 columns]

In [46]:
pd.describe_option("max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

In [47]:
df=pd.DataFrame(np.random.randn(5,5))

In [48]:
df

          0         1  ...         3         4
0  0.421427  0.546529  ... -1.867353  1.068574
1  0.269814 -0.838649  ...  0.905598 -0.373945
2 -0.268391 -0.741715  ...  0.200058  0.201603
3 -1.068457  0.758671  ... -0.998410 -0.620047
4  0.269462 -2.115811  ... -0.472949 -0.174838

[5 rows x 5 columns]

In [50]:
pd.get_option("precision")

6

In [51]:
pd.set_option("precision",2)

In [52]:
df

      0     1  ...     3     4
0  0.42  0.55  ... -1.87  1.07
1  0.27 -0.84  ...  0.91 -0.37
2 -0.27 -0.74  ...  0.20  0.20
3 -1.07  0.76  ... -1.00 -0.62
4  0.27 -2.12  ... -0.47 -0.17

[5 rows x 5 columns]

In [53]:
pd.reset_option("precision")

In [54]:
df

          0         1  ...         3         4
0  0.421427  0.546529  ... -1.867353  1.068574
1  0.269814 -0.838649  ...  0.905598 -0.373945
2 -0.268391 -0.741715  ...  0.200058  0.201603
3 -1.068457  0.758671  ... -0.998410 -0.620047
4  0.269462 -2.115811  ... -0.472949 -0.174838

[5 rows x 5 columns]

In [56]:
df.style.background_gradient(cmap="Reds")